<div class="page-forgot">
    <div class="wrapper">
      <toaster-container></toaster-container>
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">
                        <section class="logo text-center">
                            <h3 style="color:#009688;font-size:25px;">Forgot Password</h3>
                        </section>                    
                        <form name="forgot_form" class="form-horizontal" data-ng-submit="submitForm()">
                                <fieldset>
                                    <md-input-container class="md-block">
                                        <label>Email</label>
                                        <md-icon class="zmdi zmdi-account-o"></md-icon>
                                        <input required type="email" name="email" 
                                               ng-model="user.email"
                                               ng-pattern="/^.+@.+\..+$/" />
                                        <div ng-messages="forgot_form.email.$error" multiple ng-if='forgot_form.email.$dirty'>
                                            <div ng-message="pattern">It must be an e-mail address.</div>
                                        </div>
                                    </md-input-container>
                                                                    
                                    <md-button type="submit"
                                               class="md-raised btn-w-md md-primary md-button md-ink-ripple pull-right"
                                               data-ng-disabled="!forgot_form.$valid">Submit</md-button>
                                    <div class="divider"></div>

                                </fieldset>
                            </form>
                            <div class="additional-info text-center text-small" style="padding-top:25px">
                                       Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.
                            </div>
                   </div>
                </div>
                <div class="additional-info">
                    <a href="#/login">Login</a>
                </div>
            </div>
        </div> 
    </div>
</div>
