<div class="page-signin">
 <toaster-container></toaster-container>
    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">
                        <section class="logo text-center">
                            <h3 style="color:#009688;font-size:25px;">Reset Password</h3>
                        </section>
                            <form name="reset_form" class="form-horizontal" novalidate data-ng-submit="resetPassword()">
                                <fieldset>
                                    <md-input-container class="md-block">
                                        <label>New Password</label>
                                        <md-icon class="zmdi zmdi-lock-outline"></md-icon>
                                        <input required type="password" name="newPassword" 
                                               ng-model="user.password"
                                               />
                                        <div ng-messages="reset_form.newPassword.$error" multiple ng-if='reset_form.newPassword.$dirty'>
                                           <div ng-message="required">Password is required</div>
                                        </div>
                                    </md-input-container>

                                    <div class="divider divider-md"></div>
                                    <md-input-container class="md-block">
                                        <label>Confirm Password</label>
                                        <md-icon class="zmdi zmdi-lock-outline"></md-icon>
                                        <input required  type="password" name="confirmPassword" ng-model="user.confirmPassword" data-match="user.password">
                                        <div ng-messages="reset_form.confirmPassword.$error" multiple ng-if='reset_form.confirmPassword.$dirty'>
                                            <div ng-message="required">Confirm password is required</div>
                                            <div ng-message="match">Password and confirm password must match</div>
                                        </div>
                                    </md-input-container>                                        
                                    <md-button type="submit"  style="float:right" class="md-raised btn-w-md md-primary" 
                                               data-ng-disabled="!reset_form.$valid">Reset</md-button>

                                    <div class="divider"></div>
                                    <div class="alert alert-info" data-ng-show="showError">Invalid Username Or Password</div>
                                </fieldset>
                            </form>
                        </div>
                   </div>

            </div>                
        </div>
    </div>
</div>